@import '~antd/lib/style/themes/default.less';

.parent {
  display: flex;
  flex-direction: row;

  .menu {
    width: 400px;
    padding: 20px;
    // padding-top: 20px;
    background-color: #ffffff;
  }
  .permission {
    width: 100vw;
    margin-left: 30px;
    background-color: #ffffff;
  }
}

.plusIcon {
  color: rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: @primary-color;
  }
}
