@import './utils.less';
.background {
  background: #e6e6e6;
  overflow: hidden;
  .layout {
    display: flex;
    direction: ltr;
    width: 100%;
    height: calc(100vh - @bottom-bar-height);
    background-color: #e6e6e6;
  }
}
