@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 82vh;
  .login {
    background-color: #ffffff;
    width: 380px;
    height: 380px;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    margin-right: 200px;
    padding: 20px;
  }
}
